{% extends 'layout.twig' %}

{% set title = (raffle is defined and raffle.getRaffleTitle is defined) ? raffle.getRaffleTitle : null %}
{% set desc = (raffle is defined and raffle.getRaffleDescription is defined) ? raffle.getRaffleDescription : null %}
{% set winners = (raffle is defined and raffle.getWinners is defined) ? raffle.getWinners : null %}
{% set consos = (raffle is defined and raffle.getConsolations is defined) ? raffle.getConsolations : null %}

{% block content %}
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<label for="winners">Winners</label>
					<select id="winners" class="form-control">
					{% if winners > 0 %}
						{% for i in 1..winners %}
						<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
						{% else %}
						<option value="0">No winners</option>
					{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="consos">Consolations</label>
					<select id="consos" class="form-control">
					{% if consos > 0 %}
						{% for i in 1..consos %}
						<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
						{% else %}
						<option value="0">No consos</option>
					{% endif %}
					</select>
				</div>
				<h1>Winner Prizes</h1>
				<hr/>
				<h1>Consolation Prizes</h1>
				<hr/>
				<h1>{{ title }}</h1>
				{{ desc|raw }}
				<hr/>
			</div>
		</div>
	</div>
{% endblock %}