{% extends 'layout.twig' %}

{% block styles %}
<link href="{{ baseUrl }}css/front-style.css" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if message is not empty %}
    <div class="alert alert-info"><i class="fa fa-fw fa-exclamation-triangle"></i> {{ message[0]|trans }}</div>
    {% endif %}

    <!-- LOGIN -->
    <div class="col-lg-6 login-registration">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form" action="{{ path('pre-registration') }}" method="POST">
                <div class="form-group">
                    <label for="firstname"><small>Firstname</small></label>
                    <input type="text" id="firstname" class="form-control" name="firstname" placeholder="Juan" required/>
                </div>
                <div class="form-group">
                    <label for="lastname"><small>Lastname</small></label>
                    <input type="text" id="lastname" class="form-control" name="lastname" placeholder="Dela Cruz" required/>
                </div>
                <div class="form-group">
                    <label for="or_num"><small>Official Receipt #</small></label>
                    <input type="text" id="or_num" class="form-control" name="or_num" placeholder="1234-KQWE-6753" required/>
                </div>
                <button class="btn btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
    </div>
    <div class="col-lg-6 login-registration">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form" action="{{ path('login_check') }}" method="POST">
                <div class="form-group">
                    <label for="email"><small>Email</small></label>
                    <input type="email" id="email" class="form-control" name="_username" value="{{ last_username }}" placeholder="example@domain.com" required autofocus/>
                </div>
                <div class="form-group">
                    <label for="password"><small>Password</small></label>
                    <input type="password" id="password" class="form-control" name="_password" placeholder="**********" required/>
                </div>
                <div class="form-group">
                    {{ '6Ldy3eISAAAAAM6A684vW00ijCK8Dj6HJ5w0DBE-'|captcha|raw }}
                </div>
                {% if err_ is not empty or error is not empty %}
                    <div class="alert alert-danger">
                        {% if errLog is not empty and errLog != noThrow %}<p>* {{ errLog }}</p>{% endif %}
                        {% if err_ is not empty and err_[0] is defined and err_[0] is not empty and err_[0] != 'null' %}<p>* {{ err_[0] }}</p>{% endif %}
                    </div>
                {% endif %}
                <a href="" class="pull-right" data-toggle="modal" data-target="#forgotPassword">Forgot password?</a>
                <button class="btn btn-primary">Log In</button>
            </form>
          </div>
        </div>
    </div>
    <!-- LOGIN OFF -->

    {% include 'general/forgot-password/modal.forgot-password.twig' %}
{% endblock %}