{% extends 'layout.twig' %}

{% block styles %}
<link href="{{ baseUrl }}css/front-style.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'general/includes/btn-header.twig' %}

<!-- REG -->
<div class="col-lg-12 login-registration">
    <h1>Registration</h1>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" action="{{ path('registration-process') }}" method="POST">
            <div class="form-group">
                <label for="or_num"><small>Official Receipt #</small></label>
                <input type="text" id="or_num" class="form-control" disabled value="{{ or_num }}" placeholder="1234-KQWE-6753"/>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="firstname"><small>Firstname</small></label>
                        <input type="text" id="firstname" name="firstname" class="form-control" value="{{ firstname }}" placeholder="Juan" autofocus required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="lastname"><small>Lastname</small></label>
                        <input type="text" id="lastname" name="lastname" class="form-control" value="{{ lastname }}" placeholder="Dela Cruz" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="email"><small>Email</small></label>
                        <input type="email" id="email" class="form-control" name="email" placeholder="user@raffle.com" required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="password"><small>Password</small></label>
                        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="mobile"><small>Phone # / Telephone #</small></label>
                        <input type="text" id="mobile" class="form-control" name="mobile" placeholder="+6390 123 4567 / 744-6200" required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="birthday"><small>Birthday</small></label>
                        <input type="date" id="birthday" class="form-control" name="birthday" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address"><small>Address</small></label>
                <textarea id="address" name="address" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>
      </div>
    </div>
</div>
<!-- REG OFF -->
{% endblock %}