{% extends 'dashboard/layout.twig' %}

{% block styles %}
<style>
    .thumbnail>img{width:260px;height:260px}
</style>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {% if message is not empty %}
        <div class="alert alert-info"><i class="fa fa-fw fa-exclamation-triangle"></i> {{ message[0]|trans }}</div>
        {% endif %}
        <h1>{{ title }}</h1>
    </div>
    <div class="col-lg-3">
        {% include 'dashboard/includes/admin.sidebar.twig' %}
    </div>
    <div class="col-lg-9">
        <div class="form-group">
            <label for="raffle">Raffles</label>
            <select name="raffle" id="raffle" class="form-control" data-type="conso">
            {% for raffle in raffles %}
                <option value="{{ raffle.getId }}" data-winners="{{ raffle.getConsolations }}">{{ raffle.getRaffleTitle }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="winner">Consolations</label>
            <select name="winner" id="winner" class="form-control" data-type="conso">
            </select>
        </div>
        <br/><br/>
        <div class="row prizes-theater">
        {% if prizes|length > 0 %}
        {% include 'dashboard/includes/list.winner.prizes.twig' with {'isprizes': isprizes, 'prizes': prizes} %}
        {% else %}
            <div class="alert alert-info"><i class="fa fa-fw fa-exclamation-triangle"></i> No prizes yet.</div>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ baseUrl }}js/jq.admin.functions.js"></script>
{% endblock %}