{% extends 'dashboard/layout.twig' %}

{% block styles %}
<style>
    .thumbnail>img{width:260px;height:260px}
</style>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {% if message is not empty %}
        <div class="alert alert-info"><i class="fa fa-fw fa-exclamation-triangle"></i> {{ message[0]|trans }}</div>
        {% endif %}
        <h1>Raffles</h1>
    </div>
    <div class="col-lg-3">
        {% include 'dashboard/includes/admin.sidebar.twig' %}
    </div>
    <div class="col-lg-9">
        <button class="btn btn-success" data-toggle="modal" data-target="#prizeModal" data-type="1"><i class="fa fa-fw fa-plus"></i> Prize</button>
        <br/><br/>
        <div class="row">
        {% if prizes|length > 0 %}
        {% for prize in prizes %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <!--<img src="../upload/{{ prize.getPrizeImage }}" alt="{{ prize.getPrizeTitle }}">-->
              <img src="{{ path('img-thumb', {params: '260x260c', q: prize.getPrizeImage }) }}" alt="{{ prize.getPrizeTitle }}" />
              <div class="caption">
                <h3>{{ prize.getPrizeTitle }}</h3>
                <p>{{ prize.getPrizeDesc }}</p>
                <p>
                <!-- <a href="#" class="btn btn-danger btn-xs" role="button"><i class="fa fa-fw fa-trash-o"></i></a> -->
                <a href="#" class="btn btn-primary btn-xs" role="button" data-toggle="modal" data-target="#prizeModal" data-type="2" data-id="{{ prize.getId }}"><i class="fa fa-fw fa-pencil"></i></a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
            <div class="alert alert-info"><i class="fa fa-fw fa-exclamation-triangle"></i> No prizes yet.</div>
        {% endif %}
        </div>
    </div>
    
    {% include 'dashboard/includes/modal.prizes.twig' %}
{% endblock %}

{% block scripts %}
    <script src="{{ baseUrl }}js/jq.admin.functions.js"></script>
{% endblock %}