<ul class="list-group">
    <a href="{{ path('dashboard') }}" class="list-group-item{% if active_tab == 0 %} active{% endif %}">
        <span class="badge"><i class="fa fa-fw fa-database"></i></span>
        Dashboard
    </a>
    <a href="{{ path('raffle_overview') }}" class="list-group-item{% if active_tab == 1 %} active{% endif %}">
        <span class="badge"><i class="fa fa-fw fa-cog"></i></span>
        Raffles
    </a>
    <a href="{{ path('prizes_overview') }}" class="list-group-item{% if active_tab == 2 %} active{% endif %}">
        <span class="badge"><i class="fa fa-fw fa-star"></i></span>
        Raffle Prizes
    </a>
    <a href="{{ path('winners_overview') }}" class="list-group-item{% if active_tab == 3 %} active{% endif %}">
        <span class="badge"><i class="fa fa-fw fa-trophy"></i></span>
        Winners
    </a>
    <a href="{{ path('consolations_overview') }}" class="list-group-item{% if active_tab == 4 %} active{% endif %}">
        <span class="badge"><i class="fa fa-fw fa-trophy"></i></span>
        Consolations
    </a>
    <a href="{{ path('users_overview') }}" class="list-group-item{% if active_tab == 5 %} active{% endif %}">
        <span class="badge"><i class="fa fa-fw fa-users"></i></span>
        User management
    </a>
</ul>